<div fxLayout="column">
    <div class="flex-p"> 
        <div fxLayout="column" class="mat-elevation-z8">
            <table cellspacing="0" class="w-100">
                <tr>
                    <td>                                                
                        <mat-form-field class="w-100">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
                        </mat-form-field> 
                    </td>
                    <td>
                    <button style="margin-bottom:2.5px; background-color: #54e87c; float: right;  width: 80px;" mat-raised-button color="accent" (click)="printToPdf('tablePrint')"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                    <button style="float: right; max-width: 150px; background-color:#b3cefa" mat-raised-button (click)="ExportTOExcel()"><i class="fa fa-download" aria-hidden="true"></i> Excel</button>                                
                    </td>
                </tr>
            </table>  
        </div>
        <div class="example-container mat-elevation-z8" id="tablePrint" #TABLE>
        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">       
            <ng-container matColumnDef="No">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{pageSize*(currentPage+1-1)+(1+i)}} </td>
            </ng-container>         
            <ng-container matColumnDef="Patient Name">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Patient Name </th>
                <td mat-cell *matCellDef="let element"> {{element.opdPatientName}} </td>
            </ng-container>     
            <ng-container matColumnDef="Doctor Name">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
            </ng-container>        
            <ng-container matColumnDef="Mobile">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Patient Mob No. </th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNo1}} </td>
            </ng-container>
            <ng-container matColumnDef="Schedule">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Schedule </th>
                <td mat-cell *matCellDef="let element"> {{element.opdScheduleUpdate | date: 'M/d/yy, h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="Token">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Token No. </th>
                <td mat-cell *matCellDef="let element"> {{element.tokenNo}} </td>
            </ng-container>            
            <ng-container matColumnDef="Charges">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Charges </th>
                <td mat-cell *matCellDef="let element"> {{element.doctorCharges}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.appointmentStatus == 'PAID'; else other">
                        <p style="color: green">
                            {{element.appointmentStatus}}
                        </p>
                    </div>    
                    <ng-template #other>
                        <a (click)="openDialogOpdPayment(element._id)" mat-icon-button>
                            <p style="color: red">{{element.appointmentStatus}}</p> 
                        </a> 
                    </ng-template>                   
                </td>                
            </ng-container> 
<!--             <ng-container matColumnDef="Update Date">
                <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Update Date </th>
                <td mat-cell *matCellDef="let element"> {{element.updateTime | date: 'M/d/yy'}} </td>
            </ng-container>  -->  
            <ng-container matColumnDef="Action">
                    <th style="color:#ffffff" mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <a routerLink="/tables/appointment/{{element._id}}" [routerLinkActive]="['link-active']" mat-icon-button>
                        <mat-icon class="icon-lg">edit</mat-icon>
                        </a>
                        <a  mat-icon-button>
                        <mat-icon (click)="deleteAppointment(element._id)" class="icon-lg">delete_forever</mat-icon>
                        </a>
                    </td>
            </ng-container>                                             
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>        
            <mat-paginator #paginator (page)="handlePage($event)" [showFirstLastButtons]="true" [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>