@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }
  
  .mat-icon {
    @include md-icon-size(22px);
  }

    .mat-cell, {
    flex: 1;
    display: flex;
    align-items: center;
	display:flex;
	justify-content:center;    
}

  .mat-header-cell {
  	color: white;
  	font-size: 15px;
    flex: 1;
    min-height: 52px;
    display: flex;
    align-items: center;
    background-color: #283593;
    display:flex;
    justify-content:center;    
}
.mat-card-subtitle{
    flex: 1;
    display: flex;
    align-items: center;
	display:flex;
	justify-content:center; 	
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }
  
  .mat-icon {
    @include md-icon-size(22px);
  }

img {
    -webkit-print-color-adjust: exact;
}  









.season-item{
    margin-bottom: 6px;
}

