<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

        <div *ngIf="errMsg === 'true'" style="margin-bottom: 10px; max-width: 380px; text-align: center; margin: auto;" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{outPut.resMsg}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errMsg = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div *ngIf="success === 'true'" style="margin-bottom: 10px; max-width: 380px; text-align: center; margin: auto;" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{outPut.resMsg}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="success = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>         

            <mat-card class="p-0 mat-elevation-z24 box" style="margin-top: 10px">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                   <!--  <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>exit_to_app</mat-icon>
                    </button> -->
                    <!-- <a mat-button routerLink="/register">Don't have an account? Sign up now!</a> -->
                    <a mat-button routerLink="/login" style="float: left;">Return to log in</a>
                    <!-- <a mat-button routerLink="/register" style="float: right;">Can't log in?</a> -->
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <!-- <span class="box-content-header">member login</span>   -->
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">Send recovery link </button>
                </mat-card-content>
                <!-- <h6 style="text-align: center; color: #283593">
                    <a target="_blank" href="http://mobisoftseo.com">Mobisoftseo Technologies</a>
                </h6> -->
            </mat-card>
            
        </form>
  </div>
</mat-sidenav-container>