<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <!-- <button mat-raised-button color="primary" id="google-button" (click)="glogin()">Login with Google</button> -->

       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

        <div *ngIf="errMsg === 'true'" style="margin-bottom: 10px; max-width: 380px; text-align: center; margin: auto;" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{apiMsg}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errMsg = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
            <mat-card class="p-0 mat-elevation-z24 box" style="margin-top: 10px; text-align: center;">
                <button style="border: 0;" id="google-button" (click)="glogin()" type="button">Login with Google</button>

                <!-- <button mat-raised-button color="primary" id="google-button">Login with Google</button> -->
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <!-- <img matListAvatar [src]="'assets/img/profile/michael.jpg'"> -->
                   <!--  <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value);">
                        <mat-icon>exit_to_app</mat-icon>
                    </button> -->
                    <!-- <a mat-button routerLink="/register">Don't have an account? Sign up now!</a> -->
                    <!-- <a mat-button routerLink="/register" style="float: left;">Don't have an account? Sign up now!</a>
                    <a mat-button routerLink="/forgot-password" style="float: right;">Can't log in?</a> -->
                    <div class="container">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <!-- <input type='file' id="imageUpload" (change)="changeListener($event)" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload" ></label> -->
                            </div>
                            <div class="avatar-preview">
                                <!-- <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);"> -->
                                  <div id="imagePreview" [style.background-image]="'url('+logo+')'">
                                </div>
                            </div>
                        </div>
                      </div> 
                    
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <!-- <span class="box-content-header">member login</span>   -->
                        <div style="font-size: 12px">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                        </mat-form-field> 
                        </div>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">SIGN IN</button>
                </mat-card-content>
                <!-- <h6 style="text-align: center; color: #283593">
                    <a target="_blank" href="http://mobisoftseo.com">Mobisoftseo Technologies</a>
                </h6> -->
            </mat-card>
            
        </form>
        <a mat-button routerLink="/register" class="bottom_text_signup">Don't have an account? Sign up now!</a>
        <!-- <a mat-button routerLink="/forgot-password" style="float: right;">Can't log in?</a> -->
  </div>
</mat-sidenav-container>